.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header-title {
    font-size: 72px;
}

.header {
    margin-bottom: 80px;
}

.nav {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fff;
    border-bottom: 1px solid #ebf2f2;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.font-for-menu {
    font-weight: 700;
    transition: color .2s;
    font-size: 18px;
}

.nav__logo {
    margin: 0;
}

.nav__logo-picture {
    height: 48px;
    max-width: 250px;
}

.nav__menu {
    display: flex;
    list-style-type: none;
    width: 744px;
}

.salad:hover {
    color: #6db33f;
    cursor: pointer;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {

    .nav__menu {
        display: none;
    }

    .nav__logo-picture {
        max-width: 150px;
    }

    .header {
        width: 100%;
        position: fixed;
        z-index: 5;
    }
}



@media screen and (max-width: 600px) {

    .nav__menu {
        display: none;
    }

    .nav__logo-picture {
        max-width: 150px;
        padding-left: 10px
    }

    .header {
        width: 100%;
        position: fixed;
        z-index: 5;
    }
}
