.turn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.turn-item {
    width: 133px;
    height: 100px;
    position: relative;
    margin-top: 25px;
}

.turn-item img{
    width: 131px;
    height: 96px;
}

.turn-item:first-of-type {
    width: 133px;
    height: 100px;
}

.turn-item span{
    z-index: 10;
    position: absolute;
}
