.container {
    max-width: 1180px;
    margin: 0 auto;
}

.big-text {
    font-size: 27px;
    font-weight: 400;
    color: #333;
    line-height: 50px;
}

.description {
    margin-bottom: 80px;
}

.description h1 {
    margin-bottom: 20px;
}

.description p {
    max-width: 1040px;
    margin: 0;
}
