.unit-item {
    width: 220px;
    height: 220px;
    border: 1px solid #000;
    box-sizing: border-box;
    overflow: hidden;
}

.unit-item.current {
    border: 7px solid #ff0000;
}

.unit-item.target {
    border: 5px solid blue;
}
