.unit-image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.unit-image-container>img{
    width: 220px;
    height: 220px;
}

.unit-image-container .status {
    position: absolute;
    top: 3%;
    left: 1%;
}

.user-info img{
    width: 25px;
    height: 25px;
    z-index: 10;
}

.status {
    width: 100px;
    height: 100px;
}
