.board-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.board-row {
  width: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border: 3px solid #000;
}

.board-row:nth-child(2) {
  margin-bottom: 20px;
}
