* {
    margin: 0 auto;
    padding: 0;
    font-size: 23px;
    font-family: Open Sans, sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header-title {
    font-size: 72px;
}

.header {
    margin-bottom: 80px;
}

.nav {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fff;
    border-bottom: 1px solid #ebf2f2;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.font-for-menu {
    font-weight: 700;
    transition: color .2s;
    font-size: 18px;
}

.nav__logo {
    margin: 0;
}

.nav__logo-picture {
    height: 48px;
    max-width: 250px;
}

.nav__menu {
    display: flex;
    list-style-type: none;
    width: 744px;
}

.nav__menu__item {
    margin-left: 30px;
    cursor: default;
}

.salad:hover {
    color: #6db33f;
    cursor: pointer;
}

.nav__menu__item-arrow {
    transform: rotate(45deg) translateY(-6px);
    border: solid #191e1e;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    cursor: default;
}

.big-text {
    font-size: 27px;
    font-weight: 400;
    color: #333;
    line-height: 50px;
}

.description {
    margin-bottom: 80px;
}

.description h1 {
    margin-bottom: 20px;
}

.description p {
    max-width: 1040px;
    margin: 0;
}

.content {
    background-color: #ebf2f2;
    padding: 50px 0;
    position: relative;
}

.content__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 75px;
}

.content__info__item {
    padding: 40px 30px;
    background: #fff;
    display: block;
    text-decoration: none;
    width: 365px;
    margin: 0 20px 26px 0;
}

.content__info__item:hover {
    transform: translateY(-3px);
    top: -3px;
    box-shadow: 0 10px 20px 0 rgba(108, 135, 135, .2);
}

.content__info__item-picture {
    width: 18.5%;
    margin: 0;
    display: inline-block;
}

.content__info__item-picture img {
    height: 60px;
}

.content__info__item-description {
    margin: -60px 0 0 110px;
}

.content__info__item-description p {
    color: #333;
    font-size: 19px;
}

.content__info__item-description h3 {
    margin-bottom: 20px;
}

.content__info__item-description h3, .content__info__item-description p {
    color: #000;
}

.nav__menu__mobile {
    display: none;
    margin: 0;
    justify-content: space-between;
}

.hamburger-menu {
    padding: 10px;
}

.hamburger-menu__bar {
    width: 19px;
    height: 3px;
    background: #191e1e;
    margin: 0 0 3px;
    transition: background .2s;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .nav__menu__mobile {
        display: block;
    }

    .nav__menu {
        display: none;
    }

    .nav__logo-picture {
        max-width: 150px;
    }

    .header {
        width: 100%;
        position: fixed;
        z-index: 5;
    }

    .main {
        position: relative;
        top: 80px;
    }

    .content__info {
        width: auto;
        margin-right: auto;
    }

    .content__info__item {
        width: 310px;
        margin-right: 30px;
    }

    .container {
        max-width: 800px;
    }

    .description {
        padding: 10px;
    }
}

@media screen and (max-width: 800px) {
    .content__info__item {
        width: 84%;
    }
}

@media screen and (max-width: 600px) {
    .nav__menu__mobile {
        display: block;
    }

    .nav__menu {
        display: none;
    }

    .nav__logo-picture {
        max-width: 150px;
        padding-left: 10px
    }

    .header {
        width: 100%;
        position: fixed;
        z-index: 5;
    }

    .main {
        position: relative;
        top: 80px;
    }

    .content__info {
        width: auto;
        margin-right: auto;
    }

    .content__info__item {
        width: 84%;
        margin-right: auto;
        margin-left: auto;

    }

    .container {
        max-width: 800px;
    }

    .description {
        padding: 10px;
    }

    .content__info__item-description {
        margin: 0;
    }
}

.mistake {
    display: none;
}

.custom-input {
    position: relative;
}

.custom-input:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(images/search.png) no-repeat;
    background-size: cover;
    top: 7px;
    left: 345px;
}

input {
    display: block;
    margin-left: 54px;
    font-size: 16px;
    padding: 10px;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 51px;
}

input:focus {
    outline: none;
}
